.prose {
  --post-accent-cover: color-mix(in oklab, var(--post-accent) 90%, var(--fg));
  --em-bold-bg: var(--post-accent-cover);
  --em-bold-fg: var(--bg);
}

.prose strong {
  padding: 0.05em 0.25em;
  border-radius: var(--radius);
  background: var(--em-bold-bg);
  color: var(--em-bold-fg);
}

.prose :is(h1, h2, h3, h4, h5, h6) strong,
.prose .callout-title strong {
  padding: 0;
  background: none;
}

.prose em {
  font-weight: var(--em-italic-weight);
  color: var(--em-bold-bg);
}

.prose strong em,
.prose em strong {
  color: var(--em-bold-fg);
  font-weight: bold;
}

.prose :is(h1, h2, h3, h4, h5, h6) strong em,
.prose :is(h1, h2, h3, h4, h5, h6) em strong,
.prose .callout-title strong em,
.prose .callout-title em strong {
  color: inherit;
}
